/kiln-backups
/kiln-backups/kiln-2025-11-27_122759.zip
/kiln-backups/kiln-2025-11-27_123526.zip
/kiln-backups/kiln-2025-11-27_124248.zip
/#auto_saved_files#
/~kiln.kicad_sch.lck
/kiln.csv
/_autosave*.kicad_sch
/*.kicad_pro.lck
